<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header"></header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>新增品項</h1>
									</header>

									<form action="{{ url_for('new') }}" method="POST">

										<div class="col-6">
											<select name="category" id="category">
												<option value="">- 類別 -</option>
												<option value="1">生活用品</option>
												<option value="2">電子產品</option>
												<option value="3">飲料</option>
												<option value="4">零食</option>
												<option value="5">蔬果</option>
												<option value="6">蛋豆魚肉</option>
												<option value="7">玩具</option>
												<option value="8">文具</option>
												<option value="9">書籍</option>
												<option value="10">其他</option>
											</select>
										</div>
										
										<br/>

										<div class="col-6 col-12-xsmall">
											<input type="text" class="form-control" name="item" id="item" placeholder="品項名稱" />
										</div>	
										
										<br/>

										<div class="col-6 col-12-xsmall">
											<input type="text" class="form-control" name="firm" id="firm" placeholder="廠商" />
										</div>	
										
										<br/>

										<div class="col-6 col-12-xsmall">
											<input type="text" class="form-control" name="phone" id="phone" placeholder="聯絡電話" />
										</div>	
										
										<br/>

										<div class="col-6 col-12-xsmall">
											<input type="text" class="form-control" name="cost" id="cost" placeholder="單價成本" />
										</div>	
										
										<br/>

										<div class="col-6 col-12-xsmall">
											<input type="text" class="form-control" name="price" id="price" value="" placeholder="售價" />
										</div>	
										
										<br/>

										<!-- Buttons -->
										<font size="4"><input type="submit" class="button primary" value="OK"></font>
									</form>
										
								</section>

						</div>
					</div>

					<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html"><font size="5">Homepage</font></a></li>
										<li><a href="query.html"><font size="5">查詢</font></a></li>
										<li><a href="new.html"><font size="5">新增品項</font></a></li>
										<li><a href="buy.html"><font size="5">進貨</font></a></li>
										<li><a href="sale.html"><font size="5">售出</font></a></li>
										<li><a href="record.html"><font size="5">進出貨紀錄</font></a></li>
									</ul>
								</nav>

						</div>
					</div>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>