<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header"></header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>查詢</h1>
									</header>
										<form action="{{ url_for('query') }}" method="POST">
											<div class="col-6">
												<select name="category" id="category">
													<option value="">- 類別 -</option>
													{% for option in categoryOptions %}
														{% if option == selectedOption %}
															<option value="{{ option }}" selected>{{ option }}</option>
												  		{% else %}
															<option value="{{ option }}">{{ option }}</option>
												  		{% endif %}
													{% endfor %}
												</select>
												<br/>
												<input type="submit" value="OK">
											</div>

											<br/>
											
											<div class="col-12">
												<select name="item" id="item">
													<option value="">- 品項名稱 -</option>
													{% for option in itemOptions %}
													<option value="{{ option }}">{{ option }}</option>
													{% endfor %}
												</select>
											</div>	
											
											<br/>

											<!-- Buttons -->
											<font size="4"><input type="submit" class="button primary" value="SEARCH"></font>		
										</form>							
										
									<!-- Elements -->
										<div>
											<div>

												<!-- Table -->

												<div class="table-wrapper">
													<table class="alt">

														<tbody>
															<tr>
																<td>類別</td>
																<td>品項名稱</td>
																<td>庫存數量</td>
																<td>單價成本</td>
																<td>售價</td>
																<td>廠商</td>
																<td>連絡電話</td>
															</tr>
															<tr>
																{% for item in info %}
																	<td>{{ item }}</td>
																{% endfor %}
															</tr>
														</tbody>

													</table>
												</div>


											</div>
											<div class="col-6 col-12-medium">

											</div>
										</div>

								</section>

						</div>
					</div>

					<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html"><font size="5">Homepage</font></a></li>
										<li><a href="query.html"><font size="5">查詢</font></a></li>
										<li><a href="new.html"><font size="5">新增品項</font></a></li>
										<li><a href="buy.html"><font size="5">進貨</font></a></li>
										<li><a href="sale.html"><font size="5">售出</font></a></li>
										<li><a href="record.html"><font size="5">進出貨紀錄</font></a></li>
									</ul>
								</nav>

						</div>
					</div>


						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>