<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header"></header>

							<!-- Content -->
								<section>
									<header class="main">
										<h1>準確率</h1>
									</header>
										<form action="{{ url_for('correct') }}" method="POST">
											
											<div class="col-6">
												<select name="startYear" id="startYear">
													<option value="">- 起始年份 -</option>
													{% for i in range(2018, 2024) %}
														<option value="{{ i }}">{{ i }}</option>
													{% endfor %}
												</select>
											</div>
											
											<br/>
																					
											<div class="col-6">
												<select name="startMonth" id="startMonth">
													<option value="">- 起始月份 -</option>
													{% for i in range(1, 13) %}
														<option value="{{ i }}">{{ i }}</option>
													{% endfor %}
												</select>
											</div>

											<br/>

											<div class="col-6">
												<select name="startDay" id="startDay">
													<option value="">- 起始日期 -</option>
													{% for i in range(1, 32) %}
														<option value="{{ i }}">{{ i }}</option>
													{% endfor %}
												</select>
											</div>

											<br/>

											<div class="col-6">
												<select name="endYear" id="endYear">
													<option value="">- 結束年份 -</option>
													{% for i in range(2018, 2024) %}
														<option value="{{ i }}">{{ i }}</option>
													{% endfor %}
												</select>
											</div>
											
											<br/>
																					
											<div class="col-6">
												<select name="endMonth" id="endMonth">
													<option value="">- 結束月份 -</option>
													{% for i in range(1, 13) %}
														<option value="{{ i }}">{{ i }}</option>
													{% endfor %}
												</select>
											</div>

											<br/>

											<div class="col-6">
												<select name="endDay" id="endDay">
													<option value="">- 結束日期 -</option>
													{% for i in range(1, 32) %}
														<option value="{{ i }}">{{ i }}</option>
													{% endfor %}
												</select>
											</div>

											<br/>

											<!-- Buttons -->
											<font size="4"><input type="submit" class="button primary" value="SEARCH"></font>		
										</form>
										
									<!-- Elements -->
										<div><h2>準確率：{{ accuracy }}</h2></div>

								</section>

						</div>
					</div>

					<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html"><font size="5">Homepage</font></a></li>
										<li><a href="query.html"><font size="5">明日預報</font></a></li>
										<li><a href="record.html"><font size="5">歷史資料</font></a></li>
										<li><a href="correct.html"><font size="5">準確率</font></a></li>
									</ul>
								</nav>

						</div>
					</div>


						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>