<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header"></header>

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>中壢<br/>明天會下雨嗎？</h1>
											<p>Is it going to rain tomorrow?</p>
										</header>

									</div>
									<span class="image object">
										<img src="/static/images/pic.jpg" alt=""/>
									</span>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					<div id="sidebar">
						<div class="inner">

							<!-- Menu -->
								<nav id="menu">
									<header class="major">
										<h2>Menu</h2>
									</header>
									<ul>
										<li><a href="index.html"><font size="5">Homepage</font></a></li>
										<li><a href="query.html"><font size="5">明日預報</font></a></li>
										<li><a href="record.html"><font size="5">歷史資料</font></a></li>
										<li><a href="correct.html"><font size="5">準確率</font></a></li>
									</ul>
								</nav>

						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/browser.min.js"></script>
			<script src="/static/js/breakpoints.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
</html>